/** ===== About One CSS ===== **/
.about__one-thumb {
	position: relative;
	&:after{
	      position: absolute;
		  content: '';
		  background: #F2F5F6;
		  width: 591px;
		  height: 635px;
		  left: 22px;
		  top: -15px;
		  border-radius: 50%;
		  z-index: -1;
		  animation-name: up_down_animations; 
          animation-duration: 5s; 
          animation-iteration-count: infinite;
          @include respond-below(lg) {
            left: 185px;
            top: -20px;
        }
        @include respond-below(c480){
	        display: none;
        }
	}
}
.about__one-experience {
	background: #081C3C;
	border: 10px solid $color-white;
	box-shadow: 0px 4px 15px rgba(16, 16, 49, 0.1);
	border-radius: 20px;
	position: absolute;
	bottom: 6px;
    right: 37px;
	padding: 37px 27px;
	@include respond-below(lg) {
        right: 197px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
.about__one-thumb {
	&:after {
	    left: 65px;
        top: -20px;
	}
}
.about__one-experience {
	right: 85px;
  }
}
@media (max-width: 767px) {
	.about__one-thumb {
		&:after {
		  display: none;
	}
}

}
.about__one-experience {
	h5 {
	 color: $color-white;
	 font-weight: 900;
	 font-size: 36px;
	line-height: 50px;
	 font-family: var(--font-secondary);
	 margin-bottom: 10px;
	 @include respond-below(c480){
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 5px;
    }
	 span {
		font-size: 60px;
	    line-height: 60px;
	 }
   }
   p {
        font-size: 27px;
		line-height: 36px;
		color: $color-white;
		font-weight: 500;
		margin-bottom: 0;
		@include respond-below(c480){
         font-size: 24px;
         line-height: 30px;
    }
   }
   @include respond-below(c480){
        right: 5px;
		padding: 25px 27px;
		bottom: -45px;
    }
}

.about__author-info {
	display: flex;
	align-items: center;
  }
  .about__author {
	display: flex;
  }
  .about__author-thumb {
	margin-right: 15px;
}
  .about__author-content {
	margin-right: 30px;
	h5 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 4px;
	}
	span {
		color: #051632;
		font-size: 16px;
	}
  }

/** ===== About Two CSS ===== **/
.about-left-gallery {
	display: flex;
	transform: translateX(-5%)
}
.about__wrapper-two {
	position: relative;
  }
  .about__wrapper-two::before {
	position: absolute;
	content: '';
	left: 0;
	top: 182px;
	width: 100%;
	height: 100%;
	background: #F6F6F6;
	z-index: -1;
  }

.about-two-heading-style {
	.heading__style-three {
		span {
			padding-left: 40px;
			&::after{
				left: -1px;
			}
			&::before{
				display: none;
			}
		}
	}
	p {
		margin-top: 80px;
		margin-bottom: 33px;
	}
}
.about-author-two {
	background: $color-white;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	padding: 25px 20px 25px 20px;
	margin-bottom: 35px;
}
.about-author-two-thumb {
	float: left;
  }
  .about-author-content {
	position: relative;
	overflow: hidden;
  }
.about-author-content {
	h5 {
		font-size: 20px;
		margin-bottom: 7px;
		span {
			font-size: 16px;
            font-weight: 500;
			color: $color-primary;
		}
	}
	p {
		margin-bottom: 0;
	}
} 
.about-author-two-thumb {
	margin-right: 22px;
}
.about-author-quote-two {
	position: absolute;
	right: 50px;
	top: 12px;
}
.about-author-quote-two i {
	font-size: 75px;
	opacity: 0.1;
	transform: rotate(10deg);
}
.about-two-list {
	margin-bottom: 25px;
	ul {
		padding-left: 0;
		margin-bottom: 0;
		li {
			display: inline-block;
			margin-right: 20px;
			h5 {
				font-weight: 600;
				font-size: 18px;
				line-height: 30px;
				margin-bottom: 0;
				i {
					margin-right: 7px;
				}
			}
		}
	}
}
.about-left-thumb {
	img {
		transform: translate(-7%,11%);
	}
}
.about-middle-one {
	margin-bottom: 30px;
}
.about-video-two {
	margin-bottom: 25px;
}
.about-video-thumb-two {
	position: relative;
	float: left;
	margin-right: 30px;
  }
  .about-video-content-two {
	overflow: hidden;
	p {
		margin-top: 5px;
	}
  }
  .about-popup-two {
	position: absolute;
	top: 56%;
    left: 55%;
	margin: -30px 0 0 -30px;
	z-index: 2;
	width: 44px;
	height: 44px;
	font-size: 11px;
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--color-primary);
	animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	&::after{
		position: absolute;
		content: "";
		top: 3px;
		left: -1px;
		width: 90%;
		height: 90%;
		opacity: 0.5;
		border-radius: 50%;
		background: var(--color-white);
		transform: scale(1.3);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
		animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
		z-index: -1;
	}
}
.about-button-support {
	display: flex;
	align-items: center;
}
.about-support-btn {
	border-radius: 50px;
	padding: 15px 30px;
	margin-right: 40px;
}
.about-support-two {
	position: relative;
	span {
		font-size: 15px;
	    font-weight: 500;
	    color: #0F0F11;
	}
	h5 {
		margin-bottom: 0;
		a {
			font-weight: 600;
			font-size: 16px;
			line-height: 26px;
			color: $color-primary;
			transition: .3s;
			&:hover{
				color: $color-secondary;
			}
		}
	}
}
.about-support-two::before {
	position: absolute;
	content: '';
	left: -20px;
	top: 4px;
	width: 1px;
	height: 50px;
	background: #CBCBCB;
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.about-left-gallery {
		transform: translateX(0%);
	}
	.about-left-thumb {
		img {
			transform: translate(0);
		    padding-right: 30px;
		}
	}
	.heading__style-three {
		h2 {
			font-size: 36px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.about-left-gallery {
		transform: translateX(0%);
	}
	.about-left-thumb {
		img {
			transform: translate(0);
		    padding-right: 30px;
		}
	}
	.heading__style-three {
		h2 {
			font-size: 36px;
		}
	}
	.about__wrapper-two::before {
		top: 145px;
	}
	.about-two-heading-style {
		p {
			margin-top: 25px;
		}
	}
}
@media (max-width: 767px) { 
	.about-right-content {
		margin-top: 60px;
	}
	.about-left-gallery {
		transform: translateX(0%);
	}
	.about-left-thumb {
		img {
			transform: translate(0);
		    padding-right: 30px;
		}
	}
	.heading__style-three {
		h2 {
			font-size: 28px;
		}
	}
	.about-two-heading-style {
		p {
			margin-top: 30px;
		}
	}
	.about-author-two-thumb {
		float: none;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.about-video-thumb-two {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.about-button-support {
		display: inherit;
	}
	.about-support-btn {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.about-video-two {
		margin-bottom: 5px;
	}
	.about-popup-two {
		top: 55%;
		left: 11%;
	}
}


/** ===== About Animation CSS ===== **/
@keyframes up_down_animations {
  0% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(25px);
    transform: translateY(25px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
