/** ===== Counter ===== **/
.benzo-counter {
    line-height: 1;
    text-align: center;

    .counter-wrap {
        font: {
            family: $font-secondary;
            size: 60px;
            weight: 700;
        }
        color: $color-primary;

        @include respond_below(md) {
            font-size: 40px;
        }
    }

    .title {
        font: {
            family: $font-primary;
            size: 16px;
            weight: 400;
        }
        line-height: 1.4;
        color: $color-body;
        margin: 0;
    }

    .icon {
        font-size: 45px;
        margin-bottom: 30px;
    }
}