/** ===== Hero Slider One ===== **/
.slider-one-content {
	text-align: center;
	padding-top: 200px;
    padding-bottom: 195px;
     @include respond-below(c480){
        padding-top: 180px;
        padding-bottom: 170px;
     }
}
.slider-area-one-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 0;
}

.slider-one-video-popup {
    position: relative;
    margin-bottom: 60px;
	.popup-video.slider-popup {
	    position: absolute;
		top: 50%;
		left: 50%;
		margin: -30px 0 0 -30px;
		z-index: 2;
		width: 70px;
		height: 70px;
		background-color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		color: var(--color-primary);
		animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);

		&:after{
		    position: absolute;
			content: "";
			top: 3px;
			left: -1px;
			width: 90%;
			height: 90%;
			opacity: 0.5;
			border-radius: 50%;
			background: var(--color-white);
			transform: scale(1.3);
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
			animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
			z-index: -1;
		}
	}
}
.slider-one-content {
	h5 {
		color: $color-white;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 15px;
   }
    h2 {
        color: $color-white;
        font-weight: 700;
		font-size: 80px;
		line-height: 90px;
		margin-bottom: 35px;
		@include respond-below(lg) {
          font-size: 60px;
          line-height: 70px;
        }
        @include respond-below(md) {
          font-size: 60px;
          line-height: 70px;
        }
        @include respond-below(c480){
          font-size: 45px;
          line-height: 55px;

      }
   }
}
.slider-one-btn {
	.benzo-el-btn {
	  margin-right: 5px;
	   @include respond-below(c480){
         margin-bottom: 10px;
      }
    }
}

/** ===== Hero One Slider Paginations ===== **/

.slider-area-one {
	&:hover{
      .hero__slider-one-prev.swiper-button-prev {
         left: 0px;
      }
      .hero__slider-one-next.swiper-button-next {
         right: 0px;
      }
	}
}

.swiper-button-next::after, .swiper-button-prev::after {
	display: none;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: none !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: none !important;
}
.hero__slider-one-prev.swiper-button-prev {
	position: absolute;
	left: -2px;
	background: #74809D;
	color: #fff;
	width: 35px;
	height: 85px;
	font-size: 30px;
	border-radius: 0px 5px 5px 0px;
	transition: .3s;
	&:hover{
	  background: var(--color-white);
	  color: $color-secondary;
	}
	@include respond-below(c480) {
        width: 30px;
		height: 80px;
		font-size: 25px;
    }
}

.hero__slider-one-next.swiper-button-next {
	position: absolute;
	right: -2px;
	background: #74809D;
	color: #fff;
	width: 35px;
	height: 85px;
	font-size: 30px;
	border-radius: 5px 0px 0px 5px;
	transition: .3s;
	&:hover{
	  background: var(--color-white);
	  color: $color-secondary;
	}
	@include respond-below(c480) {
        width: 30px;
		height: 80px;
		font-size: 25px;
    }
}
/** ===== Hero Slider Two ===== **/
.slider-area-bg {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0px 170px 0px;
}
.slider-area-bg::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #051632;
	opacity: 0.1;
}
.slider-content-two {
	h2 {
		font-size: 70px;
		color: $color-white;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 800;
		margin-bottom: 15px;
	}
	p{
		color: $color-white;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 45px;
	}
}
@media (min-width: 1200px) and (max-width: 1400px) { 
	.slider-content-two{
		text-align: center;
	}
	.slider-two-btn {
		text-align: center;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {  
	.slider-content-two{
		text-align: center;
	}
	.slider-two-btn {
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 991px) { 
	.slider-content-two{
		text-align: center;
		h2 {
			font-size: 60px;
		}
	}
	.slider-two-btn {
		text-align: center;
	}
	
}
@media (max-width: 767px) {
	.slider-content-two{
		text-align: center;
		h2 {
			font-size: 55px;
		}
	}
	.slider-two-btn {
		text-align: center;
	}
	.slider-shape-wrapper {
		display: none;
	}
}

@media (max-width: 480px) {
	.slider-content-two{
		h2 {
			font-size: 35px;
		}
	}
 }

.slider-two-btn {
	.benzo-el-btn {
		border-radius: 0;
		margin-right: 6px;
	}
}
.slider-bg-shape-one {
	position: absolute;
	right: 13%;
	top: 0;
}
.slider-bg-shape-two {
	position: absolute;
	right: 14%;
	bottom: 0;
}

/** ===== Hero Two Slider Paginations ===== **/

.hero__slider-two-next.swiper-button-next {
	width: 60px;
	height: 60px;
	background: $color-white;
	border-radius: 50px;
	color: $color-secondary;
	font-size: 20px;
	position: absolute;
    right: 70px;
	transition: all 0.3s ease-out 0s;
	border: 1px solid transparent;
	&:hover{
		border: 2px solid #ffffff40;
		background: none;
		color: $color-white;
	}
}
.hero__slider-two-prev.swiper-button-prev {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 70px;
	border: 2px solid #ffffff40;
	line-height: 60px;
	transition: all 0.3s ease-out 0s;
	&:hover{
		color: $color-secondary;
		background: $color-white;
		border: 1px solid transparent;
	}
}
@media (min-width: 768px) and (max-width: 991px) { 
	.hero__slider-two-prev.swiper-button-prev {
		left: 20px;
	}
	.hero__slider-two-next.swiper-button-next {
		right: 20px;
	}
}
@media (max-width: 767px) {
	.hero__slider-two-next.swiper-button-next {
		display: none;
	}
	.hero__slider-two-prev.swiper-button-prev {
		display: none;
	}
}