/** ===== Post Lists ===== **/
.benzo-post-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;

    .post-title {
        margin: 0;
        font-size: 18px;
        line-height: 1.5;
    }

    .author-date {
        font-size: 14px;
        text-transform: capitalize;
        margin-top: 10px;

        a {
            color: $color-body;

            &:hover {
                color: $color-primary;
            }
        }

        .post-date {
            padding-left: 5px;

            i {
                font-size: 12px;
            }
        }
    }

    .post-media {
        margin-bottom: 30px;
        width: 100%;
        height: 320px;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .post-meta {
        display: flex;
        flex-wrap: nowrap;
        font: {
            family: $font-secondary;
            size: 14px;
            weight: 400;
        }
        text-transform: uppercase;
        margin-bottom: 14px;
        transition: 0.3s;

        @include respond-below(c480) {
            font-size: 12px;
        }

        a {
            color: $color-body;

            &:hover {
                color: $color-primary;
            }
        }

        & > *:not(:first-child) {
            margin-left: 16px;
            position: relative;

            &::before {
                content: "|";
                position: absolute;
                left: -8px;
                top: 48%;
                transform: translate(-50%, -50%) rotate(20deg);
                transition: 0.3s;
            }
        }

        .post-categories {
            &::before {
                color: $color-primary;
            }

            a {
                background-color: transparent !important;
                color: $color-primary;
                margin-right: 5px;

                &:not(:last-child) {
                    &::after {
                        content: ",";
                    }
                }
            }
        }
    }

    &.meta-design-1 {
        .post-categories {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 5px;

            a {
                display: block;
                font: {
                    family: $font-secondary;
                    size: 13px;
                    weight: 500;
                }
                line-height: 1;
                text-transform: uppercase;
                color: $color-white;
                background-color: $color-primary;
                padding: 12px 20px 10px;
                margin: 0 10px 10px 0;
            }
        }
    }

    &.thumbnail-left,
    &.thumbnail-right {
        li {
            display: flex;
            align-items: center;

            .post-media {
                margin-bottom: 0;
                margin-right: 30px;
                width: 105px;
                flex: 0 0 auto;
                height: 80px;
            }

            .post-content {
                flex-grow: 1;
            }
        }
    }

    &.thumbnail-right {
        li {
            flex-direction: row-reverse;

            .post-media {
                margin-right: 0;
                margin-left: 30px;
            }
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: 35px;
            padding-bottom: 35px;
            border-bottom: 1px solid #f0f0f0;
        }
    }
}

/** ===== Post Lists One Update CSS ===== **/
.blog-item-one {
    position: relative;
	text-align: center;
    &:hover{
        .blog-thumb-one {
            img {
                transform: scale(1.22) rotateY(0deg);
            }
        }
    }
   
}
.blog-thumb-one {
	margin-bottom: 30px;
    overflow: hidden;
    img {
        transform: scale(1.01);
        transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}
.blog-meta-one {
    ul {
        padding-left: 0px;
        margin-bottom: 5px;
        li {
            display: inline-block;
            font-size: 15px;
            line-height: 25px;
            text-transform: capitalize;
            margin-right: 13px;
            i {
                color: $color-primary;
                margin-right: 8px
            }
            &:last-child{
                margin-right: 0px;
            }
            a {
                color: $color-body;
                transition: .3s;
                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}

.blog-content-one{
    h3 {
        a {
            font-size: 27px;
	       line-height: 36px;
        }
    }
    p {
        margin-bottom: 30px;
    }
}

/** ===== Post Lists Two Update CSS ===== **/
.blog-post-item-two {
    &:hover{
     .blog-post-thumb-two {
           img {
             transform: scale(1.22) rotateY(0deg);
           }
        }
    }
}
.blog-post-thumb-two {
	margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
    img {
        transition: all 500ms ease;
    }

}
.blog-post-meta-two {
    ul {
        padding-left: 0;
        margin-bottom: 8px;
        li {
            display: inline-block;
            font-size: 15px;
            text-transform: capitalize;
            margin-right: 12px;
            a {
                color: $color-body;
                transition: all 500ms ease;
                &:hover{
                    color: $color-primary;
                }
            }
            i {
                margin-right: 7px;
            }
        }
    }
}
.blog-post-content-two {
    h3 {
        font-size: 27px;
        font-weight: 600;
        line-height: 36px;
        margin-bottom: 15px;
    }
    p {
       margin-bottom: 30px;
    }
}
.blog-btn-two.btn-round {
    font-weight: 600;
    font-size: 16px;
    color: $color-body;
	border: 2px solid $color-border;
	border-radius: 28px;
	height: 55px;
	line-height: 53px;
	padding: 0px 36px;
    transition: all 500ms ease;
    &:hover{
        background-color: $color-primary;
        color: $color-white;
        border: 2px solid transparent;
    }
}
.entry-posts-date-two {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: $color-white;
	text-align: center;
	border-radius: 3px;
    padding: 8px 6px;
}
.entry-posts-date-name-two {
    h5 {
        margin-bottom: 14px;
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
    }
}
.entry-posts-date-number-two {
    h5 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 0;
        background: $color-primary;
        color: $color-white;
        padding: 7px 13px;
        border-radius: 3px
    }
}

