/** ===== Project CSS ===== **/
.project__wrapper-bg {
    position: relative;
	background: #051632;
    padding: 95px 0px 280px 0px;
}
.project-shape {
	position: absolute;
	right: 0;
	top: 40px;
}
.project__wrapper-slider {
	margin-top: -220px;
}
.project-slider-item {
    &:hover{
        .project-slider-content {
            opacity: 1;
            transform: scale(1,1);
        }
        .project-slider-thumb {
            img {
                transform: scale(1.05,1.05) rotate(2deg);
            }
        }
    }
}
.project-slider-thumb {
	position: relative;
    overflow: hidden;
    img {
        transition: all 500ms ease;
    }
}
.project-slider-content {
	position: absolute;
	left: 20px;
	bottom: 20px;
	right: 195px;
	padding: 20px 35px;
	border-radius: 4px;
	transition: all 500ms ease;
	background-color: $color-white;
    span {
        font-weight: 500;
	    font-size: 16px;
	    line-height: 26px;
    }
    h4 {
        margin-bottom: 0;
        a {
            font-weight: 600;
	        font-size: 20px;
	        line-height: 26px;
            color: #000;
            transition: .3s;
            &:hover{
                color: $color-primary;
            }
        }
    }
}
.services-two-active {
	margin-right: -660px !important;
}
.project-slider-arrow {
	position: absolute;
	right: -24px;
	top: 25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all 500ms ease;
	border-radius: 25px;
    font-size: 20px;
    color: $color-white;
    background: $color-primary;
    &:hover{
        color: $color-white;
    }
}
.services-two-nav {
	display: flex;
	align-items: center;
}
.services-button-prev {
	border: 2px solid #EEF0F1;
	border-radius: 20px 0px 0px 20px;
	opacity: 0.3;
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 2px 16px;
    margin-right: 3px;
    transition: .3s;
    &:hover{
        color: $color-white;
        background: $color-primary;
        border: 2px solid transparent;
        opacity: 1;
    }
}
.services-button-next{
    border: 2px solid #EEF0F1;
	border-radius: 0px 20px 20px 0px;
	opacity: 0.3;
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 2px 16px;
    margin-left: 3px;
    transition: .3s;
    &:hover{
        color: $color-white;
        background: $color-primary;
        border: 2px solid transparent;
        opacity: 1;
    }
}
