/** ===== Service CSS ===== **/
.features_area-wrapper {
	border: 2px solid $color-border;
	border-radius: 3px;
	text-align: center;
	padding: 35px;
	transition: all 500ms ease;
	&:hover{
	  box-shadow: 0px 6px 20px rgba(48, 79, 121, 0.1);
    border-radius: 3px;
    border: 2px solid transparent;
	  .features_icon-thumb {
	      transform: translateY(-3px) translate3d(0, -3px, 0); 
	   }
	   .features_top-icon {
	      i {
	        transform: translateY(-3px) translate3d(0, -3px, 0); 
	      }
	   }
	}
}
.features_top-icon {
  margin-bottom: 30px;
	span {
	  font-size: 32px;
		color: var(--color-primary);
		transition: all 500ms ease;
		backface-visibility: hidden;
		transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
		position: absolute;
		top: 10px;
		left: 45%; 
		 i {
		   transition: all 500ms ease;
		   backface-visibility: hidden;
		   transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
		 }
		 @include respond-below(c1400) {
        left: 80px;
      }
      @include respond-below(lg) {
        left: 55px;
      }
      @include respond-below(c480){
        left: 160px;
      } 
   }
   .features_icon-thumb {
       position: relative;
       transition: all 500ms ease;
		   backface-visibility: hidden;
		   transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
   }
}
.features_item-title {
	h3 {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.4;
		text-transform: capitalize;
		margin-bottom: 22px;
    }
}
.features-sp-btn {
    position: relative;
	border: 2px solid $color-border;
	border-radius: 0px 18px 18px 0px;
	font-size: 22px;
	color: $color-secondary;
	height: 36px;
	line-height: 36px;
	padding: 0px 25px;
	i {
	    position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		transition: all ease 0.2s;
		-webkit-transition: all ease 0.2s;
		-moz-transition: all ease 0.2s;
		-ms-transition: all ease 0.2s;
		-o-transition: all ease 0.2s;
	  &:first-child {
	    left: -2%;
		visibility: hidden;
		opacity: 0;
	  }
	  &:last-child {
	     right: 15px;
	  }
	}
  &:hover{
      i:first-child {
		left: 13px;
		visibility: visible;
		opacity: 1;
    }
    i:last-child {
	  right: 0%;
	  visibility: hidden;
	  opacity: 0;
    }
  }
}
.features_item-content {
	p {
	 margin-bottom: 30px;
   }
}
 