/** ===== Common ===== **/
body,
html {
    max-width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    color: $color-body;
    font : {
        family: $font-secondary;
        weight: 400;
        size: 16px;
    }
    line-height: 1.6;
    overflow-x: hidden !important;
    word-wrap: break-word;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

i,
span,
a {
    display: inline-block;
}

dl {
    margin-bottom: 28px;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 28px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    line-height: 1.7142857143;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: auto;
    padding: 30px;
    color: #606060;
    white-space: pre-wrap;
    margin: 20px 0;
}

pre,
code,
kbd,
tt,
var {
    font-size: 87.5%;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

del {
    display: inline-flex;
    text-decoration: line-through;
}

big {
    font-size: 125%;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

ol,
ul {
    padding: 0 0 0 20px;
    margin: 0 0 20px;
    list-style-position: inside;

    li {
        li {
            list-style-position: inside;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        & > ol,
        & > ul {
            margin-top: 8px;
            margin-bottom: 0;
        }
    }
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 0;
}

a {
    color: $color-primary;
    transition: 0.3s;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: $color-primary;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    &:active {
        color: inherit;
    }
}

i {
    font-style: normal;
}

.fal,
.far {
    font-family: "Font Awesome 5 Pro" !important;
}

p {
    margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 20px;

    &,
    a {
        color: $color-secondary;
    }
}

h1,
.h1 {
    font-size: 60px;
}

h2,
.h2 {
    font-size: 48px;
}

h3,
.h3 {
    font-size: 30px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 16px;
}

table {
    margin: 0 0 20px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table,
th,
td {
    border: 1px solid $color-border;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    font-weight: 700;
    color: $color-secondary;
}

th,
td {
    padding: 12px;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    user-select: none;
}

iframe {
    width: 100%;
    display: block;
}

embed,
iframe,
object {
    max-width: 100%;
}

figure {
    margin: 20px 0;
}

/** ===== Common Classes ===== **/
.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.elementor-text-editor p:last-child {
    margin: 0;
}

.elementor-widget-text-editor p:last-child {
    margin: 0;
}

.elementor-heading-title {
    margin: 0;
}

.elementor-icon-list-icon,
.elementor-icon-list-text {
    transition: 0.3s;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.benzo-sticky {
    .benzo-sticky-gap {
        display: none;
    }

    &.benzo-sticky-active {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        animation: sticky 1.2s;
        transition: 0.5s;
    }
}

.admin-bar {
    .benzo-sticky {
        &.benzo-sticky-active {
            top: 32px;
        }
    }

    @media screen and (max-width: 782px) {
        .benzo-sticky {
            &.benzo-sticky-active {
                top: 32px;
            }
        }
    }
}

@keyframes sticky {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/** ===== Button CSS ===== **/

.theme-btn {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: $color-secondary;
    padding: 13px 35px;
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    border: 2px solid $color-border;
    &:after{
        content: '';
        position: absolute;
        width: 0;
        transition: all 0.5s ease-out 0s;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: -1;
        background-color: $color-primary;
    }
    &:hover{
      color: $color-white;
      border: 2px solid transparent;
        &::after {
            width: 100%;
        }
    }
}

.benzo-el-btn{
    color: $color-white;
    background: $color-primary;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    padding: 15px 25px;
    text-align: center;
    font-weight: 600;
    z-index: 3;
    position: relative;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    overflow: hidden;
    border-radius: 3px;
    &:after{
        position: absolute;
        content: '';
        position: absolute;
        -webkit-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
        bottom: 0;
        right: 0;
        background: $color-white;
        width: 0;
        height: 100%;
        z-index: -1;
        opacity: 0;
    }
    &:before{
        content: '';
        position: absolute;
        -webkit-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
        top: 0;
        left: 0;
        background: $color-white;
        width: 0;
        height: 100%;
        z-index: -1;
        opacity: 0;
    }
    &:hover{
      color: $color-primary;
        &::after {
            width: 50%;
            opacity: 1;
        }
        &::before{
          width: 50%;
          opacity: 1;
        }
    }
}

.el-btn-white {
    color: $color-primary;
    background: $color-white;
    padding: 15px 32px;
    &:after{
        background: $color-primary;
    }
    &:before{
        background: $color-primary;
    }
    &:hover{
      color: $color-white;
        &::after {
            width: 50%;
            opacity: 1;
        }
        &::before{
          width: 50%;
          opacity: 1;
        }
    }
}

.common-el-btn {
    border: 2px solid transparent;
    padding: 15px 32px;
    &:hover{
        border: 2px solid $color-border;
    }
}

.skils-form-btn{
    &::after{
        background: #F6F6F6;
    }
    &::before{
        background: #F6F6F6;
    }
}
