/*===== Layout Container =====*/
.container {
    width: 100%;
    max-width: 1350px;
    padding: 0 15px;
    margin: auto;
}

.box-container {
    width: 100%;
    max-width: 1650px;
    padding: 0 15px;
    margin: auto;
}

.container-fluid {
    width: 100%;
}

.content-container {
    padding: 150px 15px 115px;
    max-width: 1350px;
    width: 100%;
    margin: auto;

    &.full-width {
        max-width: 100%;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .content-area {
        flex: 0 0 65.91%;
        max-width: 65.91%;
        position: relative;

        @include respond-below(lg) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .sidebar-area {
        flex: 0 0 31.819%;
        max-width: 31.819%;

        @include respond-below(lg) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 80px;
        }
    }

    .content-area-full {
        flex: 0 0 100%;
        max-width: 100%;
    }

    &.left-sidebar {
        flex-direction: row-reverse;
    }

    &.no-sidebar {
        .content-area {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.d-none{
    display: none;
}

/*===== Layout Grid ======*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    &.no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
.align-items-center {
    align-items: center;
}

%grid-column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    $device_name: breakpoint-name($breakpoint, $grid-breakpoints);

    @if $columns > 0 {
        // Allow columns to stretch full width below their breakpoints
        @for $i from 1 through $columns {
            .col#{$device_name}-#{$i} {
                @extend %grid-column;
            }
        }
    }

    .col#{$device_name},
    .col#{$device_name}-auto {
        @extend %grid-column;
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        .col#{$device_name} {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }

        .col#{$device_name}-auto {
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }

        @if $columns > 0 {
            @for $i from 1 through $columns {
                .col#{$device_name}-#{$i} {
                    flex: 0 0 percentage($i / $columns);
                    max-width: percentage($i / $columns);
                }
            }
        }

        .order#{$device_name}-first {
            order: -1;
        }

        .order#{$device_name}-last {
            order: $columns + 1;
        }

        @for $i from 0 through $columns {
            .order#{$device_name}-#{$i} {
                order: $i;
            }
        }
    }
}
