/** ===== Author ===== **/
.entry-author-info {
    padding-bottom: 100px;

    .row {
        align-items: center;
    }

    .author-content {
        padding-right: 60px;

        @include respond-below(lg) {
            padding-right: 0;
        }
    }

    .name {
        font-size: 32px;
        margin: 0 0 15px;

        @include respond-below(md) {
            font-size: 28px;
        }
    }

    .title {
        display: block;
        font: {
            family: $font-secondary;
            size: 16px;
            weight: 500;
        }
        color: $color-primary;
        line-height: 1;
        margin-bottom: 18px;
    }

    .user-address {
        border-top: 1px solid rgba(0,0,0,.1);
        padding-top: 30px;
        margin-top: 30px;

        .address-title {
            font-size: 24px;
            margin: 0 0 10px;
            line-height: 1.3;


            @include respond-below(md) {
                font-size: 20px;
            }
        }

        p {
            margin: 0;
        }
    }

    .social-links {
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 30px 0 0;
        margin: 30px 0 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        line-height: 1;

        li {
            margin: 0 15px 0 0;
        }

        a {
            font-size: 18px;
            color: $color-body;

            &:hover {
                color: $color-primary;
            }
        }
    }

    .author-thumbnail {
        position: relative;
        text-align: center;
        background-color: $color-light;
        padding: 55px 35px 0;
        margin-bottom: 20px;

        @include respond-below(lg) {
            margin-bottom: 70px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 10%;
            bottom: -20px;
            width: 80%;
            height: 20px;
            z-index: -1;
            background-color: $color-primary;
        }
    }
}