/** ===== Page Title ===== **/
.page-title-area {
    padding: 220px 0 220px;
    position: relative;

    @include respond-below(md) {
       padding: 190px 0 190px;
    }

    &:after{
        position: absolute;
        content: '';
        background: #737373;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.9;
        clip-path: polygon(100% 0, 1000% 30%, 90% 95%, 67% 91%, 50% 96%, 29% 93%, 13% 98%, 0 99%, 0 0);
         @include respond-below(c1400) {
          clip-path: polygon(100% 0, 1000% 30%, 90% 95%, 67% 91%, 50% 96%, 29% 93%, 4% 90%, 0 91%, 0 0);
        }
        @include respond-below(lg) {
           clip-path: polygon(100% 0, 1000% 30%, 64% 95%, 67% 91%, 50% 96%, 29% 93%, 4% 90%, 0 92%, 0 0);
       }
    }

    .page-title-inner {
        text-align: center;

        @include respond-below(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .page-title {
        color: $color-white;
        font-size: 60px;
        margin: 0;
        line-height: 1;

        @include respond-below(md) {
            font-size: 45px;
            line-height: 55px;
       }
       @include respond-below(c480){
         font-size: 35px;
         line-height: 45px;
      }
    }

    .breadcrumb {
        position: absolute;
        bottom: 0;
        right: auto;
        background: var(--color-primary);
        border: 6px solid var(--color-white);
        box-shadow: 0px 6px 20px rgba(0, 60, 143, 0.1);
        border-radius: 40px;
        height: 80px; 
        padding: 0px 50px;
        line-height: 70px;
        left: 45%;
        bottom: -20px;

        @include respond-below(lg) {
            margin-top: 8px;
        }

        @include respond-below(md) {
            font-size: 15px;
        } 

        &,
        a {
            color: $color-body;
        }

        a:hover {
            color: $color-primary;
        }

        .separator {
            margin: 0 10px;
        }
        span {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            padding-right: 2px;
            padding-left: 3px;
          a {
            color: $color-white;
            transition: .3s;
            &:hover{
              color: $color-secondary;
            }
          }
           &.breadicon{
             color: $color-white;
           }
        }
        span.current-item{
          color: $color-white;
        }
    }
}