/** ===== Preloader ===== **/
.site-preloader {
    position: fixed;
    left: 0;
    top: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-white;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}