/** ===== Widget ===== **/
.widget {
    padding: 35px;
    border: 2px solid $color-border;

    @include respond-below(c1400) {
        padding: 40px 30px;
    }

    @include respond-below(c480){
        font-size: 15px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &.widget_block ul,
    &.widget_block ol,
    ul,
    ol {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
            margin: 0;
        }
    }

    .widget-title {
        font-size: 20px;
        margin: 0 0 26px;
        line-height: 1;
        font-weight: 600;

        @include respond-below(c1400) {
            font-size: 22px;
        }

        @include respond-below(c480){
            font-size: 20px;
        }
    }

    a {
        color: $color-body;

        &:hover {
            color: $color-primary;
        }
    }

    &.widget_block .wp-block-categories,
    &.widget_block .wp-block-archives,
    &.widget_categories,
    &.widget_archive {
        li {
            line-height: 1;
            position: relative;
            transition: .3s;

            &:not(:last-child) {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 2px solid $color-border;
                &:hover{
                   border-bottom: 2px solid $color-primary;
                }
            }

            .children {
                margin-top: 12px;
                padding-left: 15px;
            }

            a {
                font: {
                    size: 16px;
                    weight: 400;
                }
                line-height: 27px;
            }
            &:after{
                position: absolute;
                content: "";
                right: 0;
                top: 5px;
                font-family: "Font Awesome 5 Pro";
                font-size: 16px;
            }
            &:hover{
              &:after{
                color: $color-primary;
              }
            }
        }
    }

    &.widget_calendar {
        caption {
            font: {
                size: 18px;
                weight: 600;
            }
            color: $color-primary;
            text-align: center;
            margin-bottom: 10px;
        }

        table {
            margin: 0 0 15px;
        }

        a {
            color: $color-primary;
        }

        .wp-calendar-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: {
                size: 15px;
                weight: 600;
            }

            a {
                color: $color-secondary;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

    &.widget_block .wp-block-latest-posts,
    &.widget_pages,
    &.widget_meta,
    &.widget_nav_menu,
    &.widget_recent_entries {
        li {
            &:not(:last-child) {
                margin-bottom: 10px;

                @include respond-below(c480) {
                    margin-bottom: 8px;
                }
            }

            .children,
            .sub-menu {
                margin-top: 10px;
                padding-left: 15px;

                @include respond-below(c480) {
                    margin-top: 8px;
                }
            }

            a {
                font: {
                    size: 16px;
                    family: $font-secondary;
                    weight: 600;
                }
                line-height: 26px;
                position: relative;

                @include respond-below(c480){
                    font-size: 15px;
                }

                &:hover {
                    padding-left: 5px;
                }
            }
        }
    }

    &.widget_block .wp-block-latest-comments,
    &.widget_recent_comments {
        li {
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            a {
                color: $color-secondary;
                font: {
                    size: 16px;
                    weight: 600;
                }
                line-height: 1.8;

                &:hover {
                    color: $color-primary;
                }
            }

            .comment-author-link {
                a {
                    font-weight: 500;
                }
            }
        }
    }

    &.widget_rss {
        .rss-widget-title {
            color: $color-secondary;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 25px;
            }

            a.rsswidget {
                font: {
                    size: 18px;
                    weight: 600;
                }
                display: block;
                color: $color-secondary;
                margin-bottom: 5px;
                line-height: 1.4;

                @include respond-below(c480){
                    font-size: 16px;
                }

                &:hover {
                    color: $color-primary;
                }
            }

            span.rss-date,
            cite {
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: 600;
            }

            cite {
                margin-top: 10px;
                margin-bottom: 0;
                display: block;
            }
        }
    }

    .wp-block-rss__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .wp-block-rss__item-title a {
            font: {
                size: 18px;
                weight: 600;
            }
            display: block;
            color: $color-secondary;
            margin-bottom: 5px;
            line-height: 1.4;

            &:hover {
                color: $color-primary;
            }
        }

        .wp-block-rss__item-publish-date {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            font-weight: 600;
        }

        .wp-block-rss__item-author {
            margin-bottom: 15px;
            display: block;
        }
    }

    &.widget_text {
        font-size: 16px;

        .wp-caption-text {
            padding: 0;
        }

        @include respond-below(c480) {
            font-size: 15px;
        }
    }

    &.widget_tag_cloud {
        .tagcloud {
            display: flex;
            flex-wrap: wrap;
            margin: -5px;

            a {
                display: block;
                font: {
                    family: $font-secondary;
                    size: 15px !important;
                    weight: 500;
                }
                height: 40px;
                line-height: 40px;
                padding: 0px 20px;
                margin: 5px;
                color: $color-body;
                background: $color-light;
                text-transform: capitalize;
                &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                }
            }
        }
    }

    &.widget_search {
        form {
            position: relative;
        }

        input {
            padding: 0 55px 0 20px;

            @include respond-below(c480){
                font-size: 14px;
                padding: 0 40px 0 20px;
            }
        }

        button {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: $color-primary;
            color: $color-white;
            border: none;
            font-size: 15px;
            line-height: 60px;
            width: 60px;
            padding: 0;
            height: 60px;
            border-radius: 2px;
        }
    }

    &.widget_block.widget_search {
        .wp-block-search__label {
            font: {
                size: 16px;
                weight: 500;
            }
            color: $color-secondary;
            display: block;
            margin-bottom: 15px;
        }

        .wp-block-search__input {
            padding: 0 30px;
            border: 0;
            height: 60px;
        }

        .wp-block-search__button {
            min-width: 90px;
            height: 60px;
            position: static;
            font-size: 14px;
            padding: 0;
            transform: translateX(0);
            background-color: $color-primary;
            color: $color-white;
        }

        .wp-block-search__button-inside {
            .wp-block-search__inside-wrapper {
                border-color: $color-border;
            }

            .wp-block-search__button {
                margin: 0;
                min-width: 60px;

                svg {
                    fill: $color-white;
                }
            }
        }
    }

    .blocks-gallery-grid .blocks-gallery-image,
    .blocks-gallery-grid .blocks-gallery-item,
    .wp-block-gallery .blocks-gallery-image,
    .wp-block-gallery .blocks-gallery-item {
        margin: 0 1em 1em 0;
    }

    .blocks-gallery-grid .blocks-gallery-image:last-child,
    .blocks-gallery-grid .blocks-gallery-item:last-child,
    .wp-block-gallery .blocks-gallery-image:last-child,
    .wp-block-gallery .blocks-gallery-item:last-child {
        margin-right: 0;
    }

    .gallery {
        margin-bottom: 0;
    }

    &.benzo-recent-posts {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: flex;
            align-items: center;
            line-height: 1;
            margin: 0;
            transition: .3s;

            &:not(:last-child) {  
                margin-bottom: 25px;
                border-bottom: 2px solid $color-border;
                padding-bottom: 25px;
                &:hover{
                  border-bottom: 2px solid $color-primary;
                }
            }

            @include respond-below(c480) {
                flex-direction: column;
                align-items: flex-start;
            }
            &:hover{
               .post-desc {
                  h6 {
                    a {
                      color: $color-primary;
                    }
                  }
               }
               .post-media.post-media-standard {
                  img {
                     transform: scale(1.22) rotateY(0deg);
                  }
               }
            }
        }

        .post-media {
            width: 90px;
            height: 90px;
            flex: 0 0 90px;
            margin: 0 25px 0 0;
            position: relative;

            @include respond-below(c480) {
               margin: 0 0 20px;
            }

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 3px;
                object: {
                    position: center;
                    fit: cover;
                }
            }
        }

        h6 {
            font-size: 16px;
            margin: 0;
            font-weight: 600;
            line-height: 26px;

            a {
                color: $color-secondary;
            }
        }

        .time {
            line-height: 25px;
            text-transform: capitalize;
            margin: 0px 0px 5px 0px;
            font-weight: 500;
            font: {
                family: $font-secondary;
                size: 15px;
            }

            i {
                margin-right: 5px;
            }
        }
    }

    .benzo-authors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: flex-start;

        @include respond-below(c480) {
            grid-template-columns: repeat(1, 1fr);
        }

        .benzo-author {
            background-color: $color-white;
            padding: 20px 20px 0;
            text-align: center;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 20px;
                right: 20px;
                height: 4px;
                bottom: 0;
                background-color: $color-primary;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
            }

            .name {
                font-size: 15px;
                margin: 0 0 18px;

                a {
                    color: $color-secondary;
                }
            }

            &:hover {
                &::after {
                    visibility: visible;
                    opacity: 1;
                    bottom: -4px;
                }
            }
        }
    }

    .benzo-categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: flex-start;

        @include respond-below(c480) {
            grid-template-columns: repeat(1, 1fr);
        }

        .category-item {
            a {
                display: flex;
                align-items: center;
                background-color: $color-primary;
                color: $color-white;
                position: relative;
                padding: 18px 20px;
                font: {
                    size: 16px;
                    weight: 400;
                    family: $font-secondary;
                }
                line-height: 1.2;
                word-break: break-all;

                i {
                    margin-right: 8px;
                }
            }
        }
    }
}

.sidebar-area {
    .widget.widget_search {  
      padding: 0;
      border: 0;
  }
}
.widget.benzo-cta {
    padding: 0;
    border: 0;
}
.widget-cta-thumb {
    position: relative;
     img {
      width: 100%;
    }
}
.widget-cta-content {
    text-align: center;
    position: absolute;
    top: 30%;
    @include respond-below(lg) {
        left: 17.5%;
        top: 45%;
    }
    @include respond-below(md) {
        left: 7%;
        top: 40%;
    }
    @include respond-below(c480) {
       top: 30%;
       left: 0;
   }
}
.widget-cta-title {
    h2 {
        color: $color-white;
        font-size: 40px;
        text-align: center;
        line-height: 1.4;
        margin-bottom: 35px;

        @include respond-below(c1400) {
          font-size: 30px;
        }
        @include respond-below(lg) {
         font-size: 40px;
        }
        @include respond-below(md) {
          font-size: 40px;
        }
        @include respond-below(c480) {
          font-size: 30px;
          margin-bottom: 25px;
        }
    }
}
.cta-btn {
    background: $color-primary;
    color: $color-white !important;
    padding: 0px 42px;
    font-weight: 600;
    border-radius: 28px;
    height: 56px;
    line-height: 56px;
    z-index: 1;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        width: 0;
        transition: all 0.5s ease-out 0s;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: -1;
        background-color: $color-white;
        border-radius: 28px;
    }
    &:hover{
      color: var(--color-primary) !important;
        &::after {
            width: 100%;
        }
    }
}
.author_area-wrapper {
    padding: 40px;
    border: 2px solid var(--color-border);
    margin-top: 40px;
    overflow: hidden;
    @include respond-below(c480) {
      padding: 30px;
    }
}
.author_area-thumb {
    float: left;
    @include respond-below(c480) {
       float: none;
    }
}
.author_area-content {
    overflow: hidden;
    padding-left: 25px;
    @include respond-below(c480) {
      padding-top: 20px;
      padding-left: 0px;
    }
}
.author_area-title {
     h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 8px;
    }
}
.author_area-date {
    span {
        color: $color-primary;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 15px;
    }
}
.author_area-des {
    p {
     margin: 0;
  }
}
.entry-posts > div .entry-post:last-child{
    margin-bottom: 0px;
} 
.entry-posts-date {
    position: absolute;
    z-index: 1;
    background: $color-primary;
    height: 110px;
    padding: 0px 6px;
    left: 30px;
    top: -10px;
    border-radius: 0px 0px 3px 3px;
}
.entry-posts-date::after {
    position: absolute;
    content: '';
    right: -9px;
    width: 9px;
    height: 10px;
    background: $color-primary;
    top: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.entry-posts-date-name {
     h5 {
        color: $color-white;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 9px;
        margin-bottom: 15px;
        @include respond-below(c480) {
          font-size: 18px;
        }
    }
}
.entry-posts-date-number {
     h5 {
        width: 53px;
        height: 50px;
        background: $color-white;
        text-align: center;
        line-height: 50px;
        margin-bottom: 0;
        border-radius: 3px;
        @include respond-below(c480) {
          font-size: 18px;
        }
    }
}
.benzo-recent-posts {
    .recent-post-loop {
       .entry-posts-date {
          display: none;
       }
    }
}
.author_area-thumb {
     img {
     border-radius: 50%;
   }
}







 
/** ===== Block Widgets Title ===== **/
.widget.widget_block {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 20px;
        margin: 0 0 22px;
        line-height: 1;
        font-weight: 600;
    }
}
