/** ==== Welcome Panel ==== **/
.benzo-welcome-wrapper {
	margin: 40px 20px 20px 0;
}

.benzo-welcome-title span {
	display: block;
}

.benzo-welcome-title .benzo-version-theme {
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 14px;
}

.benzo-welcome-title .benzo-welcome-subtitle {
	font-size: 22px;
}

.benzo-welcome-step-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	padding: 45px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 4px 6px 21px 0px rgb(60 62 63 / 10%);
	box-shadow: 4px 6px 21px 0px rgb(60 62 63 / 10%);
	margin-top: 40px;
}

.benzo-welcome-step-box .step-subtitle {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
	margin: 0 0 20px;
}

.benzo-welcome-step-box .step-box-left {
	max-width: 32%;
}

.benzo-welcome-step-box img {
	max-width: 100%;
}

.benzo-welcome-step-box .step-box-right {
	width: 30%;
	padding-left: 50px;
}

.benzo-welcome-step-box ul {
	margin: 0;
}

.benzo-welcome-step-box ul li {
	font-size: 16px;
	margin-bottom: 40px;
}

.benzo-welcome-step-box ul li:last-child {
	margin-bottom: 0;
}

.benzo-welcome-step-box ul li .step-title {
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin-bottom: 15px;
}

.benzo-requirements-wrapper {
	padding: 30px 20px 0 0;
}

.benzo-requirements-wrapper .info_table {
	margin-bottom: 30px;
}

.benzo-requirements-wrapper .info_table td:first-child {
	width: 25%;
}

.message-info.message-info-error .dashicons-warning {
	color: red;
}

.message-info.message-info-info .dashicons-warning {
	color: #bfbf29;
}

.message-info.message-info-success {
	color: green;
}

.benzo-help-center-wrapper {
	margin: 50px 20px 0 0;
	text-align: center;
}

.benzo-help-center-wrapper .help-center-container {
	max-width: 1280px;
	margin: 0 auto;
}

.benzo-help-center-wrapper .help-center-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2;
	margin: 0 0 20px;
}

.benzo-help-center-wrapper .help-center-subtitle {
	font-size: 16px;
	margin-top: 0;
	line-height: 30px;
	margin-bottom: 46px;
}

.help-center-boxes {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 30px 1fr 30px 1fr;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-bottom: 40px;
}

.help-center-boxes .help-center-box {
	background: #fff;
	position: relative;
	text-align: left;
	padding: 45px 40px 45px 30px;
	-webkit-box-shadow: 4px 6px 21px 0px rgba(60, 62, 63, 0.1);
	box-shadow: 4px 6px 21px 0px rgba(60, 62, 63, 0.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.help-center-boxes .help-center-box .box-icon {
	color: #2271b1;
	width: 65px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 65px;
	flex: 0 0 65px;
}

.help-center-boxes .help-center-box .dashicons {
	width: 100%;
	text-align: left;
}

.help-center-boxes .help-center-box .box-icon .dashicons::before {
	font-size: 50px;
}

.help-center-boxes .help-center-box .box-title {
	font-size: 22px;
	font-weight: 500;
	margin-top: 5px;
	line-height: 1.2;
	margin-bottom: 20px;
}

.help-center-boxes .help-center-box p {
	font-size: 16px;
	line-height: 30px;
	margin: 0;
	line-height: 1.8;
}

.help-center-boxes .help-center-box .box-btn {
	margin-top: 25px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	background: #2271b1;
	padding: 12px 18px;
	text-transform: uppercase;
	color: #fff;
	line-height: 18px;
	display: inline-block;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.help-center-boxes .help-center-box .box-btn:hover {
	background: #23282d;
}

.help-center-boxes .help-center-box .box-btn:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.help-center-desc {
	margin-top: 30px;
}

@media (max-width: 1200px) {
	.help-center-boxes {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.help-center-boxes .help-center-box {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

@media (max-width: 550px) {
	.help-center-boxes {
		-ms-grid-columns: (1fr)[1];
		grid-template-columns: repeat(1, 1fr);
	}
}